%h1 Posts#index
%p Find me in app/views/posts/index.html.haml
%table.table
  %thead
    %tr
      %th Post
      %th Content
  %tbody
    -@posts.each do |post|
      %tr
        %td= post.name
        %td= post.content